/*==================== HEADER ====================*/
.section-header {
  margin-bottom: var(--mb-logo);
}

.header-logo {
  width: var(--logo-width);
}

/*==================== MAIN ====================*/
.section-main {
  margin-bottom: var(--mb-image);
}

.title {
  margin-bottom: var(--mb-title);
  font-weight: var(--font-light);
}

.title span {
  color: var(--text-color);
  font-weight: var(--font-bold);
}

.subtitle {
  margin-bottom: var(--mb-subtitle);
  font-weight: var(--font-light);
  color: var(--text-color);
}

.input-form {
  position: relative;
}

.input-email,
.input-button {
  width: 100%;
  height: 4.4rem;
  border-radius: 2.8rem;
  padding: 2.4rem;
}

.input-email {
  border: 0.1rem solid var(--button-color-border);
  outline: none;
  margin-bottom: var(--mb-input);
}

.input-email::-moz-placeholder,
.input-email::-webkit-input-placeholder {
  opacity: 0.2;
}

.input-button {
  background-color: var(--button-color);
  color: var(--body-color);
  font-weight: var(--font-semi-bold);
  border: 0;
  margin-bottom: var(--mb-button);
  box-shadow: 0rem 0.5rem 1rem 0.2rem rgba(76, 123, 243, 0.23);
  line-height: 0;
  font-size: var(--normal-font-size);
}

.form-error-msg {
  font-size: var(--small-font-size);
  color: var(--alert-color);
  position: absolute;
  margin-top: calc( 1.3rem - var(--mb-button) );
  width: 100%;
  transition: 0.5s;
}

.input-button:hover {
  background-color: var(--button-color-alt);
}

@media (min-width: 700px) {
  .input-form {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
  }

  .input-email {
    max-width: var(--input-width);
  }

  .input-button {
    max-width: 20rem;
    /* width: 100%; */
  }

  .img-dashboard {
    max-width: 64rem;
  }

  .form-error-msg {
    font-size: calc( var(--small-font-size) + .2rem);
    text-align: left;
    max-width: var(--input-width);
    transform: translateX(50%);
  }
}
